spring.application.name=mini-spotify

# Configuração do Banco de Dados Postgres (Aiven)
spring.datasource.url=COLOQUE_A_URL_AQUI
spring.datasource.username=COLOQUE_O_USUARIO_AQUI
spring.datasource.password=COLOQUE_A_SENHA_AQUI
spring.datasource.driver-class-name=org.postgresql.Driver

# Configuração do JPA / Hibernate
# Para gerar ou atualizar a estrutura do banco automaticamente baseado nas suas classes
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
